#assetImgModal.modalImg
	span.modalImg-Close x
	img(class="modalImg-content" id="img01" src="http://i1.au.reastatic.net/800x600/41e1212e5f2c2c942667d133784a2049d893992ca9b24502f170d8fa3f4685b5/main.jpg")					
