#walletassetPanel(hidden).panel
	h1 My Asset
	hr
	
	br
	// --------------- Modal Window - Show Asset Images
	include ./modal_assetimg.jade
	
	// --------------- Main Asset Window
	#innerWrap
		span.fa.fa-home(style="font-size: 250px; float:left;")
	
		span(style="float: left;")
			form(action="/walletasset" method="POST")#walletassetform
				legend 
					input(type="text" name="walletAsset-name" readonly="true")
					span.hint NAME
				legend 
					input(type="text" name="walletAsset-adrStreet" readonly="true")
					span.hint STREET ADDRESS
				legend 
					input(type="text" name="walletAsset-adrCity" readonly="true")
					span.hint CITY
				legend 
					input(type="number" name="walletAsset-adrPostcode" readonly="true")
					span.hint POSTCODE
				legend 
					input(type="text" name="walletAsset-adrState" readonly="true")
					span.hint STATE
				legend 
					input(type="text" name="walletAsset-issuer" readonly="true")
					span.hint ISSUER
				legend 
					input(type="text" name="walletAsset-issueDate" readonly="true")
					span.hint ISSUE	DATE
				legend 
					input(type="text" name="walletAsset-mktValue" readonly="true")
					span.hint MARKET VALUE
				legend 
					input(type="text" name="walletAsset-status" readonly="true")
					span.hint STATUS
				legend
					button(type="button" name="walletAsset-btnShowImg" style="margin:5px;").btnShowImg
						span.fa.fa-picture-o &nbsp;&nbsp;
						span SHOW IMAGES
					button(type="button" name="walletAsset-btnGo2Web" style="margin:5px;").btnGo2Web
						span.fa.fa-external-link &nbsp;&nbsp;
						span GO TO WEBSITE
			br
			br
	
			
		table#walletAssetTable
			thead
				tr 
					th INVESTOR
					th MY QTY
					th MY MARKET VALUE
					th QTY TO SELL
					th VALUE TO SELL
					th ACTION
			tbody#walletAssetBody
			
				