#approvePanel(hidden).panel
	h1 Assets for Approval
	hr
	
	br
	#approveModal.modalDialog
			div
				.modal-header
					h2 Filter assets
					hr
				.modal-content
					form#approveFilter
						label(for="asset_name") NAME
						input#approve_name.approve-filter(type="text" name="name")
						br
						label(for="asset_street") STREET
						input#approve_street.approve-filter(type="text" name="adrStreet")
						br
						label(for="asset_city") CITY
						input#approve_city.approve-filter(type="text" name="adrCity")
						br
						label(for="asset_postcode") PCODE
						input#approve_postcode.approve-filter(type="text" name="adrPostcode")
						br
						label(for="asset_state") STATE
						input#approve_state.approve-filter(type="text" name="adrState")
						br
						a.filter-button(href="#close" title="Close") Close
						
	#openapproves
		br
		a.filter-button(href="#approveModal") Filter Assets
		br
		br
		table#approvesTable.tablesorter
			thead
				tr 
					TH: a.sort-selector(sort="date" panel="approve") DATE
						span.fa.fa-arrow-up.wallet-sort-indicator
					th: a.sort-selector(sort="name" panel="approve") NAME
					th: a.sort-selector(sort="adrStreet" panel="approve") STREET
					th: a.sort-selector(sort="adrCity" panel="approve") CITY
					th: a.sort-selector(sort="adrPostcode" panel="approve") POSTCODE
					th: a.sort-selector(sort="adrState" panel="approve") STATE
					th: a.sort-selector(sort="qtyOwned" panel="approve") QTY
					th: a.sort-selector(sort="mktval" panel="approve")  MARKET VALUE
					th: a.sort-selector(sort="issuer" panel="approve")  ISSUER
					th ACTION
			tbody#approvesBody