#buyassetPanel(hidden).panel
	h1 For Sale Asset Details
	hr
	
	#innerWrap
		span.fa.fa-home(style="font-size: 250px; float:left;")
		
		form(action="/buyasset" method="POST")#buyassetform
			legend 
				input(type="text" name="name" readonly="true")
				span.hint NAME
			legend 
				input(type="text" name="adrStreet" readonly="true")
				span.hint STREET ADDRESS
			legend 
				input(type="text" name="adrCity" readonly="true")
				span.hint CITY
			legend 
				input(type="number" name="adrPostcode" readonly="true")
				span.hint POSTCODE
			legend 
				input(type="text" name="adrState" readonly="true")
				span.hint STATE
			legend 
				input(type="text" name="mktValue" readonly="true")
				span.hint MARKET VALUE
			legend 
				input(type="text" name="issuer" readonly="true")
				span.hint ISSUER
			legend 
				input(type="text" name="issueDate" readonly="true")
				span.hint ISSUE	DATE
				
			br
			br
			table#buyAssetTable
				thead
					tr 
						th INVESTOR
						th FOR SALE
						th TO BUY 
						th ACTION
				tbody#buyAssetBody
				