#buyassetPanel(hidden).panel
	h1 Asset for Sale
	hr
	
	br
	// --------------- Modal Window - Show Asset Images
	#buyAssetImgModal.modalImg
		span.modalImg-close(modal_id="buyAssetImgModal") x
	
	// --------------- Main Asset Window
	#innerWrap
		span.fa.fa-home(style="font-size: 250px; float:left;")
		
		span(style="float: left;")
			form(action="/buyasset" method="POST")#buyassetform
				legend 
					input(type="text" name="buyAsset-name" readonly="true")
					span.hint NAME
				legend 
					input(type="text" name="buyAsset-adrStreet" readonly="true")
					span.hint STREET ADDRESS
				legend 
					input(type="text" name="buyAsset-adrCity" readonly="true")
					span.hint CITY
				legend 
					input(type="number" name="buyAsset-adrPostcode" readonly="true")
					span.hint POSTCODE
				legend 
					input(type="text" name="buyAsset-adrState" readonly="true")
					span.hint STATE
				legend 
					input(type="text" name="buyAsset-issuer" readonly="true")
					span.hint ISSUER
				legend 
					input(type="text" name="buyAsset-issueDate" readonly="true")
					span.hint ISSUE	DATE
				legend 
					input(type="text" name="buyAsset-mktValue" readonly="true")
					span.hint MARKET VALUE
				legend 
					input(type="text" name="buyAsset-status" readonly="true")
					span.hint STATUS
				legend
					button(type="button" name="buyAsset-btnShowImg" style="margin:5px;" modal_id="buyAssetImgModal").btnShowImg
						span.fa.fa-picture-o &nbsp;&nbsp;
						span SHOW IMAGES
					button(type="button" name="buyAsset-btnGo2Web" style="margin:5px;").btnGo2Web
						span.fa.fa-external-link &nbsp;&nbsp;
						span GO TO WEBSITE
			br
			br
			
		table#buyAssetTable
			thead
				tr 
					th INVESTOR
					th QTY FOR SALE
					th VALUE FOR SALE
					th QTY TO BUY 
					th VALUE TO BUY 
					th ACTION
			tbody#buyAssetBody
				