#buyassetPanel(hidden).panel
	h1 For Sale
	hr
	
	#innerWrap
		span.fa.fa-home(style="font-size: 250px; float:left;")
		
		span(style="float: left;")
			form(action="/buyasset" method="POST")#buyassetform
				legend 
					input(type="text" name="buyAsset-name" readonly="true")
					span.hint NAME
				legend 
					input(type="text" name="buyAsset-adrStreet" readonly="true")
					span.hint STREET ADDRESS
				legend 
					input(type="text" name="buyAsset-adrCity" readonly="true")
					span.hint CITY
				legend 
					input(type="number" name="buyAsset-adrPostcode" readonly="true")
					span.hint POSTCODE
				legend 
					input(type="text" name="buyAsset-adrState" readonly="true")
					span.hint STATE
				legend 
					input(type="text" name="buyAsset-mktValue" readonly="true")
					span.hint MARKET VALUE
				legend 
					input(type="text" name="buyAsset-issuer" readonly="true")
					span.hint ISSUER
				legend 
					input(type="text" name="buyAsset-issueDate" readonly="true")
					span.hint ISSUE	DATE
				
			br
			br
			table#buyAssetTable
				thead
					tr 
						th INVESTOR
						th QTY FOR SALE
						th VALUE FOR SALE
						th QTY TO BUY 
						th ACTION
				tbody#buyAssetBody
				