#walletPanel(hidden).panel
	h1 My Assets
	hr
	
	br
	#walletModal.modalDialog
			div
				.modal-header
					h2 Filter assets
					hr
				.modal-content
					form#walletFilter
						label(for="asset_name") NAME
						input#wallet_name.wallet-filter(type="text" name="name")
						br
						label(for="asset_street") STREET
						input#wallet_street.wallet-filter(type="text" name="adrStreet")
						br
						label(for="asset_city") CITY
						input#wallet_city.wallet-filter(type="text" name="adrCity")
						br
						label(for="asset_postcode") PCODE
						input#wallet_postcode.wallet-filter(type="text" name="adrPostcode")
						br
						label(for="asset_state") STATE
						input#wallet_state.wallet-filter(type="text" name="adrState")
						br
						a.filter-button(href="#close" title="Close") Close
						
	#openWallets
		br
		p
			span(style="font-weight:bold;") Account Balance: 
			span#accountBalance2 Loading from blockchain...
		p
			span(style="font-weight:bold;") Total Asset Value: 
			span#assetValue Loading from blockchain...
		br
		a.filter-button(href="#walletModal") Filter Assets
		br
		br
		table#walletsTable.tablesorter
			thead
				tr(panel="wallet")
					TH: a.sort-selector(sort="date" panel="wallet") DATE
						span.fa.fa-arrow-up.wallet-sort-indicator
					th: a.sort-selector(sort="name" 		panel="wallet") NAME
					th: a.sort-selector(sort="adrStreet" 	panel="wallet") STREET
					th: a.sort-selector(sort="adrCity" 		panel="wallet") CITY
					th: a.sort-selector(sort="adrPostcode" 	panel="wallet") POSTCODE
					th: a.sort-selector(sort="adrState" 	panel="wallet") STATE
					th: a.sort-selector(sort="qtyOwned" 	panel="wallet") MY QTY
					th: a.sort-selector(sort="valOwned" 	panel="wallet") MY VALUE
					th: a.sort-selector(sort="qty4Sale" 	panel="wallet") MY QTY FOR SALE
					th: a.sort-selector(sort="val4Sale" 	panel="wallet") MY VALUE FOR SALE
					th: a.sort-selector(sort="mktval" 		panel="wallet")  MARKET VALUE
					th: a.sort-selector(sort="issuer" 		panel="wallet")  ISSUER
					th ACTION
			tbody#walletsBody