extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/part2.js')
	script(src='/js/blockchain.js')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./template/nav_part2.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		
		#blockdate(title="date of last block") loading...
		
		
		// --------------- Create Panel (unused)
		//include ./panel_create.jade
		
		
		// --------------- Trade View (unused)
		//include ./panel_trade.jade


		// --------------- Audit View (unused)
		//include ./panel_audit.jade
		
		// --------------- Create Asset Panel - EY
		include ./panel_createasset.jade
		
		// --------------- Wallet View - EY
		include ./panel_wallet.jade
		
		// --------------- View Asset Panel - EY
		include ./panel_walletasset.jade
		
		// --------------- Assets available for Buying View - EY
		include ./panel_buy.jade
		
		// --------------- Details of an assets to buy View - EY
		include ./panel_buyasset.jade
		
		// --------------- Assets for Approval View - EY
		include ./panel_approve.jade
		
		// --------------- Asset to Approve View - EY
		include ./panel_approveasset.jade
		
block footer
	include ./template/blockchain.jade
